.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    height: 5vh;
    background-color: #007cbb;
    color: white;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.heading {
    margin-left: 3vw;
}

.chart-row{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.chart-container{
    flex: 1 1 350px;
    min-width: 350px;
    max-width: 450px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
}
