.heading{
    margin-left: 3vw;
}

.explore-route{
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.top-row{
    display: flex;
    gap: 2vw;
    margin-left: 2vw;
    width: 80vw;
}

.bottom-row{
    display: flex;
    gap: 2vw;
    margin-left: 2vw;
    width: 80vw;
}