.heading{
    margin-left: 3vw;
}

.top-row{
    display: flex;
    gap: 2vw;
    margin-left: 3vw;
    width: 100%;

}

.bottom-row{
    display: flex;
    gap: 2vw;
    margin-left: 3vw;
    width: 100%;
}