.playback-controls {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: 65vw;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.buttons {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-around;
}

.slider {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.slider label{
    margin: 0px;
    margin-bottom: 10px;
    align-self: center;
    color: #6b6c6d;
}

.custom-marker-1 {
    position: absolute;
  }

.pin-base-1 {
    position: absolute;
    bottom: 18px;
    left: -12px;
    width: 25px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pin-icon-1 {
    position: absolute;
    top: 6px;
    left: 20%;
    width: 15px;
    height: 15px;
}